

.colections-container-right{


border-left: 0.2px solid rgb(212, 207, 207);
}


.colections-container-left-top{

    border-bottom: 0.2px solid rgb(212, 207, 207);

}
.colections-container-right-header{

    border-bottom: 0.2px solid rgb(212, 207, 207);


}
.pageginate{
    float:right
}
.result-page{

 }




